/*
 *= require ../vendor/bootstrap/dist/css/bootstrap.min.css
 *= require_tree
 *= require_self
 */

 #editor { 
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
}